extends layout

block content
  div.container
    h1.mb-0= title
    p.fst-italic= category.description
    
    ul
      for item in itemsInCategory
        li
          a(href=item.url)= item.name

  hr
  
  div.container.row
    form.col-auto(action=category.url + "/delete", method="POST", onsubmit="return confirm('Are you sure you want to delete this category?');")
      input.btn.btn-outline-danger(type="submit", value="Delete")
    form.col-auto(action=category.url + "/update", method="GET")
      input.btn.btn-outline-info(type="submit", value="Update")